# Ignorar ficheiros compilados (o "lixo" do Java)
*.class

# Ignorar ficheiros temporários do VS Code e extensões
tempCodeRunnerFile.java
.project
.classpath
.settings/

# Ignorar pastas de sistema e de saída
bin/
build/
